In [91]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [92]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1642,tt0360201,31000000,41512007,Wimbledon,Kirsten Dunst|Paul Bettany|Sam Neill|James McA...,Richard Loncraine,She's the golden girl. He's the longshot. It's...,A pro tennis player has lost his ambition and ...,98,Comedy|Romance,Universal Pictures,9/13/2004,5.7,2004
750,tt1486185,42000000,89162162,Red Riding Hood,Amanda Seyfried|Gary Oldman|Billy Burke|Shiloh...,Catherine Hardwicke,Who's afraid?,"Valerie is in love with a brooding outsider, P...",100,Thriller,Appian Way|Warner Bros.|Random Films,3/11/2011,5.5,2011
597,tt0290332,7000000,10229331,The Wash,Dr. Dre|Snoop Dogg|DJ Pooh|Angell Conwell|Bruc...,DJ Pooh,"When you're down 'n dirty, it all comes out in...","With the rent due and his car booted, Sean (Dr...",93,Action|Comedy,Lionsgate,11/16/2001,5.6,2001
29,tt4046784,61000000,311256926,Maze Runner: The Scorch Trials,Dylan O'Brien|Kaya Scodelario|Thomas Brodie-Sa...,Wes Ball,The Maze Was Just the Beginning.,Thomas and his fellow Gladers face their great...,132,Action|Science Fiction|Thriller,Gotham Group|Temple Hill Entertainment|TSG Ent...,9/9/2015,6.4,2015
1142,tt0317303,60000000,164433867,Daddy Day Care,Eddie Murphy|Jeff Garlin|Steve Zahn|Regina Kin...,Steve Carr,Who's your daddy?,Two men get laid off and have to become stay-a...,92,Comedy|Family,Columbia Pictures|Revolution Studios|Davis Ent...,5/3/2003,5.7,2003

In [93]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [94]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# Для вывода ответа (информации о фильме) в предопределённом формате.
def print_extended_title(movie):
    print(f'{str(movie.index[0])}. {movie.original_title.values[0]} ({movie.imdb_id.values[0]})')


# Для подсчёта числа жанров
def count_genres(from_dataset, to_genres_series):
    for movie_counter in range(from_dataset.imdb_id.count()):
        genres = from_dataset.genres.iloc[movie_counter].split('|')
        for genre in genres:
             to_genres_series[genre] += 1


# Для извлечения уникальных значений полей
def convert_to_set(column: str, from_dataset) -> set:
    extracted_genres = from_dataset[column].apply(lambda items: items.split('|')).values
    joined_to_one_list = sum(extracted_genres, [])
    return set(joined_to_one_list)
    

# Добавляем столбец Прибыль
data['profit'] = data.revenue - data.budget


# Для операциями с датой релиза
from datetime import datetime, date
data.release_date = data.release_date.apply(lambda release_date: datetime.strptime(release_date, '%m/%d/%Y').date())


# Для расчёта среднего значения числа символов в названиях фильмов
def average_title_length(dataset, production_company):
    titles_count = len([len(title) for title in dataset.original_title[dataset.production_companies.str.contains(production_company, na=False)]])
    total_titles_length = sum([len(title) for title in data.original_title[data.production_companies.str.contains(production_company, na=False)]])
    return round(total_titles_length / titles_count) if titles_count > 0 else 0


# Для расчёта среднего значения числа слов в описаниях фильмов
def average_overview_wordcount(dataset, production_company):
    overview_wordcount = len([len(overview.split()) for overview in dataset.overview[dataset.production_companies.str.contains(production_company, na=False)]])
    total_overview_length = sum([len(overview.split()) for overview in data.overview[data.production_companies.str.contains(production_company, na=False)]])
    return round(total_overview_length / overview_wordcount) if overview_wordcount > 0 else 0

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [95]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +
# если ответили верно, можете добавить комментарий со значком "+"

In [96]:
# тут пишем ваш код для решения данного вопроса:
max_budget_movie = data[data.budget == data.budget.max()]
print_extended_title(max_budget_movie)

723. Pirates of the Caribbean: On Stranger Tides (tt1298650)

ВАРИАНТ 2

In [97]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [98]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)' # +

In [9]:
max_runtime_movie = data[data.runtime == data.runtime.max()]
print_extended_title(max_runtime_movie)

1157. Gods and Generals (tt0279111)

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '768. Winnie the Pooh (tt1449283)' # +

In [11]:
min_runtime_movie = data[data.runtime == data.runtime.min()]
print_extended_title(min_runtime_movie)

768. Winnie the Pooh (tt1449283)

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '110' # +

In [13]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '107' # +

In [15]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '239. Avatar (tt0499549)' # +

In [17]:
max_profit_movie = data[data.profit == data.profit.max()]
print_extended_title(max_profit_movie)

239. Avatar (tt0499549)

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = '1245. The Lone Ranger (tt1210819)' # +

In [19]:
min_profit_movie = data[data.profit == data.profit.min()]
print_extended_title(min_profit_movie)

1245. The Lone Ranger (tt1210819)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1478' # +

In [21]:
data.query('profit > 0').imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = '599. The Dark Knight (tt0468569)' # +

In [23]:
max_profit_2008 = data[data.release_year == 2008].profit.max()
max_profit_2008_movie = data[data.profit == max_profit_2008]
print_extended_title(max_profit_2008_movie)

599. The Dark Knight (tt0468569)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = '1245. The Lone Ranger (tt1210819)' # +

In [25]:
min_profit_2012_2014 = data.query('2012 <= release_year <= 2014').profit.min()
min_profit_2012_2014_movie = data[data.profit == min_profit_2012_2014]
print_extended_title(min_profit_2012_2014_movie)

1245. The Lone Ranger (tt1210819)

# 11. Какого жанра фильмов больше всего?

In [26]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama' # +

In [27]:
unique_genres = convert_to_set(column='genres', from_dataset=data)

genres_dict = {genre:data.genres[data.genres.str.contains(genre, na=False)].count() for genre in unique_genres}
        
max(genres_dict, key=genres_dict.get)

'Drama'

ВАРИАНТ 2

In [28]:
genres_series = pd.Series(data=0, index=unique_genres, name='genres')

count_genres(from_dataset=data, to_genres_series=genres_series)

genres_series.sort_values(ascending=False).index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
answers['12'] = 'Drama' # +

In [30]:
unique_genres = convert_to_set(column='genres', from_dataset=data)

positive_profit_movies = data[data.profit > 0]

genres_dict = {genre:positive_profit_movies.genres[positive_profit_movies.genres.str.contains(genre, na=False)].count() for genre in unique_genres}

max(genres_dict, key=genres_dict.get)

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [31]:
answers['13'] = 'Peter Jackson' # +

In [32]:
data.groupby(data.director).revenue.sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
answers['14'] = 'Robert Rodriguez' # +

In [63]:
data[data.genres.str.match('Action', na=False)].groupby(data.director).genres.count().sort_values(ascending=False).index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [35]:
answers['15'] = 'Chris Hemsworth' # +

In [36]:
unique_actors = convert_to_set(column='cast', from_dataset=data)

movies_2012 = data[data.release_year == 2012]

actors_dict = {actor:movies_2012.revenue[movies_2012.cast.str.contains(actor, na=False)].sum() for actor in unique_actors}

max(actors_dict, key=actors_dict.get)

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [37]:
answers['16'] = 'Matt Damon' # +

In [38]:
unique_actors = convert_to_set(column='cast', from_dataset=data)

actors_dict = {actor:data.imdb_id[data.cast.str.contains(actor, na=False) & (data.budget > data.budget.mean())].count() for actor in unique_actors}
max(actors_dict, key=actors_dict.get)

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [39]:
answers['17'] = 'Action' # +

In [40]:
unique_genres = convert_to_set(column='genres', from_dataset=data)

movies_with_nicolas_cage = data[data.cast.str.contains('Nicolas Cage', na=False)]

genres_dict = {genre:movies_with_nicolas_cage.genres[movies_with_nicolas_cage.genres.str.contains(genre, na=False)].count() for genre in unique_genres}

max(genres_dict, key=genres_dict.get)

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [41]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)' # +

In [42]:
paramount_movies = data[data.production_companies.str.contains('Paramount Pictures', na=False)]

most_unprofitable = paramount_movies[paramount_movies.profit == paramount_movies.profit.min()]

print_extended_title(most_unprofitable)

925. K-19: The Widowmaker (tt0267626)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [43]:
answers['19'] = '2015' # +

In [44]:
data.groupby(data.release_year).revenue.sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [45]:
answers['20'] = '2014' # +

In [46]:
data[data.production_companies.str.contains('Warner Bros', na=False)].groupby(data.release_year).profit.sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [47]:
answers['21'] = '9' # +

In [48]:
months = (month for month in range(1, 13))

months_dict = {month:[date.month for date in data.release_date].count(month) for month in months}

max(months_dict, key=months_dict.get)

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [49]:
answers['22'] = '450' # +

In [50]:
len([date.month for date in data.release_date if date.month in (6, 7, 8)])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [51]:
answers['23'] = 'Peter Jackson' # +

In [52]:
winter_movies = data[[True if date.month in (12, 1, 2) else False for date in data.release_date]]

winter_movies.groupby(winter_movies.director).imdb_id.count().sort_values(ascending=False).index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [53]:
answers['24'] = 'Four By Two Productions' # +

In [65]:
unique_production_companies = convert_to_set(column='production_companies', from_dataset=data)

production_companies_dict = {production_company:average_title_length(data, production_company) for production_company in unique_production_companies}

max(production_companies_dict, key=production_companies_dict.get)

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [55]:
answers['25'] = 'Midnight Picture Show' # +

In [56]:
unique_production_companies = convert_to_set(column='production_companies', from_dataset=data)

production_companies_dict = {production_company:average_overview_wordcount(data, production_company) for production_company in unique_production_companies}

max(production_companies_dict, key=production_companies_dict.get)

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [57]:
answers['26'] = 'The Dark Knight, Interstellar, The Imitation Game, Inside Out, Room, The Wolf of Wall Street, Gone Girl, 12 Years a Slave, Guardians of the Galaxy, The Lord of the Rings: The Return of the King, Memento, Inception, The Pianist, The Grand Budapest Hotel, Her, Spotlight, Big Hero 6, The Fault in Our Stars, The Lord of the Rings: The Two Towers' # +

In [58]:
', '.join(data.sort_values(by='vote_average', ascending=False).head(round(len(data)/100)).original_title)

'The Dark Knight, Interstellar, The Imitation Game, Inside Out, Room, The Wolf of Wall Street, Gone Girl, 12 Years a Slave, Guardians of the Galaxy, The Lord of the Rings: The Return of the King, Memento, Inception, The Pianist, The Grand Budapest Hotel, Her, Spotlight, Big Hero 6, The Fault in Our Stars, The Lord of the Rings: The Two Towers'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [59]:
answers['27'] = "('Daniel Radcliffe', 'Rupert Grint')" # +

In [60]:
unique_actors = convert_to_set(column='cast', from_dataset=data)

actors_dict = {actor:data[data.cast.str.contains(actor, na=False)].index for actor in unique_actors}
actors_dict = {actor:sum([actors.split('|') for actors in [data.iloc[index].cast for index in my_idx]], []) for (actor,my_idx) in actors_dict.items()}

pairs_of_actors = {(actor_1, actor_2) for actor_1 in unique_actors for actor_2 in unique_actors if actor_1 != actor_2}

actors_dict = {pair_of_actors:actors_dict[pair_of_actors[0]].count(pair_of_actors[1]) for pair_of_actors in pairs_of_actors}
sorted(actors_dict, key=actors_dict.get, reverse=True)[0:5]

[('Daniel Radcliffe', 'Emma Watson'),
 ('Rupert Grint', 'Emma Watson'),
 ('Emma Watson', 'Daniel Radcliffe'),
 ('Emma Watson', 'Rupert Grint'),
 ('Daniel Radcliffe', 'Rupert Grint')]

ВАРИАНТ 2

# Submission

In [61]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'The Dark Knight, Interstellar, The Imitation Game, Inside Out, Room, The Wolf of Wall Street, Gone Girl, 12 Years a Slave, Guardians of the Galaxy, The Lord of the Rings: The Return of the King, Memento, Inception, The Pianist, The Grand Budapest Hotel, Her, Spotlight, Big Hero 6, The Fault in Our Stars, The Lord of the Rings: The Two Towers',
 '27': "('Daniel Radcliffe', 'Rupert Grint')"}

In [62]:
# и убедиться что ни чего не пропустил)
len(answers)

27